<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft_9.0.1.19813" version="1.0.0" targetFramework="net48" />
  <package id="Restsharp_105.2.3" version="1.0.0" targetFramework="net48" />
  <package id="RevitAPI_2018" version="1.0.4" targetFramework="net48" />
  <package id="RevitAPIUI_2018" version="1.0.1" targetFramework="net48" />
</packages>