[Backend]
ApiBaseUrl=http://localhost:6140/PTools_PSilo
CoreApiBaseUrl=http://localhost:6140/T2ACore
TemplateRootDir=C:\Users\Administrator\Desktop\SiloModelingTaskClient\template
TemplateTp3Dir=C:\Users\Administrator\Desktop\SiloModelingTaskClient\template\TP3
NewTaskStatus=10
ModelingDoneStatus=12
